<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesUserEdit.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <%- include('../partials/head.ejs') %>
    <title>Editar Usario</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <form class="detail-box" method="post" action="/user-edit?_method=PUT" enctype="multipart/form-data" id="user-edit-form">
            <div class="titles">Editar Mi Usuario</div>
            <div class="img-box">
                <img src="/images/users/<%= user.image %>" alt="NoResponse" srcset="">
            </div>
            <div class="input-box">
                <input type="file" name="image" id="img-input" class="edit-input" value="<%= user.image %>">
            </div>
            <small id="image-error"></small>
            <div class="text-box">
                <div class="input-box-id">
                    <input type="text" value="<%= user.id %>" id="id-input" name="id" readonly>
                </div>
                <div class="titles">Nombre</div>
                <div class="input-box">
                    <input type="text" name="name" id="name-input" class="edit-input" value="<%= user.name %>">
                </div>
                <small id="name-error"></small>
                <div class="titles">Email</div>
                <div class="input-box">
                    <input type="text" name="email" id="email-input" class="edit-input" value="<%= user.email %>">
                </div>
                <small id="email-error"></small>
                <div class="titles">Fecha de Nacimiento</div>
                <div class="input-box">
                    <input type="date" name="birthdate" id="birth-input" class="edit-input" value="<%= user.birthdate %>">
                </div>
                <small id="birth-error"></small>
                <div class="post-botom">
                    <input type="submit" id="edit-buton" class="edit-input" value="Confirmar cambios">
                </div>
            </div>
        </form>
    </main>
    <%- include('../partials/footer.ejs') %>
    <script src="/scriptsjs/editUserValidations.js"></script>
</body>
</html>